.c9/metadata/environment/template.yaml
{"filter":false,"title":"template.yaml","tooltip":"/template.yaml","undoManager":{"mark":12,"position":12,"stack":[[{"start":{"row":235,"column":0},"end":{"row":235,"column":49},"action":"remove","lines":["#-----End - Submit License Lambda function -----#"],"id":2}],[{"start":{"row":234,"column":24},"end":{"row":235,"column":0},"action":"insert","lines":["",""],"id":3},{"start":{"row":235,"column":0},"end":{"row":235,"column":12},"action":"insert","lines":["            "]}],[{"start":{"row":235,"column":10},"end":{"row":235,"column":12},"action":"remove","lines":["  "],"id":4},{"start":{"row":235,"column":8},"end":{"row":235,"column":10},"action":"remove","lines":["  "]},{"start":{"row":235,"column":6},"end":{"row":235,"column":8},"action":"remove","lines":["  "]}],[{"start":{"row":235,"column":4},"end":{"row":235,"column":6},"action":"remove","lines":["  "],"id":5}],[{"start":{"row":235,"column":4},"end":{"row":236,"column":0},"action":"insert","lines":["",""],"id":6},{"start":{"row":236,"column":0},"end":{"row":236,"column":4},"action":"insert","lines":["    "]}],[{"start":{"row":236,"column":4},"end":{"row":280,"column":0},"action":"insert","lines":["#----- Start state machine resource -------#","  DocumentStateMachine:","    Type: AWS::Serverless::StateMachine","    Properties:","      Name: DocumentStateMachine","      Role: !Sub arn:aws:iam::${AWS::AccountId}:role/DocumentStateMachineRole","      Definition:","        StartAt: Unzip","        States:","          Unzip:","            Type: Task","            Resource: !GetAtt UnzipLambdaFunction.Arn","            ResultPath: \"$.application\"","            Next: WriteToDynamo","          WriteToDynamo:","            Type: Task","            Resource: !GetAtt WriteToDynamoLambdaFunction.Arn","            ResultPath: \"$.notification\"","            Next: PerformChecks","          PerformChecks:","            Type: Parallel","            Branches:","            - StartAt: CompareFaces","              States:","                CompareFaces:","                  Type: Task","                  Resource: !GetAtt CompareFacesLambdaFunction.Arn","                  End: true","            - StartAt: CompareDetails","              States:","                CompareDetails:","                  Type: Task","                  Resource: !GetAtt CompareDetailsLambdaFunction.Arn","                  End: true","            ResultPath:","            Next: ValidateSend","          ValidateSend:","            Type: Task","            Resource: \"arn:aws:states:::sqs:sendMessage\"","            Parameters:","              QueueUrl: !GetAtt SQSQueue.QueueUrl","              MessageBody.$: $.notification","            End: true","#----- End state machine resource -------#",""],"id":7}],[{"start":{"row":236,"column":3},"end":{"row":236,"column":48},"action":"remove","lines":[" #----- Start state machine resource -------#"],"id":8},{"start":{"row":236,"column":2},"end":{"row":236,"column":3},"action":"remove","lines":[" "]},{"start":{"row":236,"column":0},"end":{"row":236,"column":2},"action":"remove","lines":["  "]},{"start":{"row":235,"column":4},"end":{"row":236,"column":0},"action":"remove","lines":["",""]}],[{"start":{"row":240,"column":77},"end":{"row":241,"column":0},"action":"insert","lines":["",""],"id":9},{"start":{"row":241,"column":0},"end":{"row":241,"column":6},"action":"insert","lines":["      "]}],[{"start":{"row":241,"column":6},"end":{"row":243,"column":0},"action":"insert","lines":["Tracing:","  Enabled: true",""],"id":10}],[{"start":{"row":242,"column":0},"end":{"row":242,"column":2},"action":"insert","lines":["  "],"id":11}],[{"start":{"row":242,"column":0},"end":{"row":242,"column":2},"action":"insert","lines":["  "],"id":12}],[{"start":{"row":242,"column":0},"end":{"row":242,"column":2},"action":"insert","lines":["  "],"id":13}],[{"start":{"row":242,"column":21},"end":{"row":243,"column":0},"action":"remove","lines":["",""],"id":14}]]},"ace":{"folds":[],"scrolltop":3195,"scrollleft":0,"selection":{"start":{"row":242,"column":21},"end":{"row":242,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":227,"state":"start","mode":"ace/mode/yaml"}},"timestamp":1742114255332,"hash":"22daaca7a66a11144c1265546ece149b23c5a6c2"}